@include media768{
    .portada-principal{
        height: 400px;
        img{
            height: 400px
        }
        .titulo-1{
            @include titulos;
            margin-top: -33%;
            margin-left: 11%;
            font-size: map-get($map: $fuentes-tam, $key:quinto);
        }
        .titulo-2{
            @include titulos;
            margin-top: -36%;
            margin-left: 1%;
            font-size: map-get($map: $fuentes-tam, $key:quinto);
        }
        .titulo-3{
            @include titulos;
            margin-top: -38%;
            margin-left: 2.5%;
            font-size: map-get($map: $fuentes-tam, $key:quinto);
        }
        .titulo-4{
            @include titulos;
            margin-top: -33%;
            margin-left: 22%;
            font-size: map-get($map: $fuentes-tam, $key:quinto);
        }
        .titulo-5{
            @include titulos;
            margin-top: -35%;
            margin-left: 1%;
            font-size: map-get($map: $fuentes-tam, $key:quinto);
        }
    }
    .textos{
        width: 90%;
        margin-left: 50px;
    }
    .portada-02{
        width: 90%;
        height: 300px;
        margin-top: 290px;
        margin-bottom: 80px;
        margin-left: 18px;
        .wrap{
            h2{
                top: 101%;
                left: 15%;
            }
        }
        .wrap-01{
            margin-left: -15px;
            h2{
                top: 101%;
                left: 65%;    
            }
        }
    }  
    .container{
        width: 80%;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 40px;
        margin-bottom: 70px;
        margin-left: 40px;
        gap:5px;
        img{
            margin-left: 90px;
            margin-bottom: 5px;
            width: 35%;
            object-fit: contain;
            }
        p{
            margin-left: 90px;
            margin-bottom: 10px;
            text-align: center;
            font-family: cafe-bold;
            font-weight: 500;
            color: $colortextoprincipal;
            font-size: map-get($map: $fuentes-tam, $key:cuarto );
        }
    }
    .contaniner-2{
    margin-bottom: 60px;
    margin-left: 2x;
    gap: 10px;
    }
    .frase{
        .frase-texto{
                font-size: map-get($map: $fuentes-tam, $key:septimo);
            }
        }
    .eslogan{
            width: 100%;
            height: 180px;
            margin-top: 220px;
            margin-bottom: 10px;
            .preguntas{
                font-size: map-get($map: $fuentes-tam, $key:septimo);
            }
   }
   .eslogan-1{
    width: 100%;
    height: 180px;
    margin-top: 630px;
    margin-bottom: 10px;
    .preguntas{
        font-size: map-get($map: $fuentes-tam, $key:septimo);
    }
}
    form{
        margin-left: 60px;
        margin-top: 480px;
    }

    
    footer{
        display: grid;
        width: 100%;
        height: 300px;
        ul li a{
            width: 48px;
            height: 48px;
            img{
                width: 20px;
                margin-bottom: 45px;
                margin-left: 0.5px;
            }
        }
          
          .final{
            font-size: map-get($map: $fuentes-tam, $key:sexto);
            margin-top: -3px;
          }
        }
    .footer-we{
        margin-top: 1450px;
        width: 100%;
        height: 300px;
        ul li a{
            width: 48px;
            height: 48px;
        }
          img{
              width: 20px;
              margin-bottom: 45px;
              margin-left: 0.5px;
          }
          .final{
            font-size: map-get($map: $fuentes-tam, $key:sexto);
            margin-top: -3px;
          }
      }
      .footer-ev{
        margin-top: 1250px;
        width: 100%;
        height: 300px;
        ul li a{
            width: 48px;
            height: 48px;
        }
          img{
              width: 20px;
              margin-bottom: 45px;
              margin-left: 0.5px;
          }
          .final{
            font-size: map-get($map: $fuentes-tam, $key:sexto);
            margin-top: -3px;
          }
      }
}